# MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=mydb
MYSQL_USER=user
MYSQL_PASSWORD=userpassword

# Backend
PORT=3001
DATABASE_URL=mysql://root:rootpassword@mysql:3306/mydb
NODE_ENV=production
AUTH_DIR=/auth
RECONNECT_DELAY=1000

# Frontend
VITE_API_URL=http://backend:3000
