MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=mydb
MYSQL_USER=user
MYSQL_PASSWORD=userpassword

PORT=3001
AUTH_DIR=./auth
RECONNECT_DELAY=1000

DATABASE_URL="mysql://root:rootpassword@localhost:3306/mydb"